*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    background-color: rgb(207, 221, 233);
 }
section{
    margin:  auto;
    padding: 2%;
    background-color: rgb(207, 221, 233);
    color:rgb(46, 71, 96);
}
h2{
    color: rgb(60, 103, 132);
    font-size: 2rem;
    background-color: rgba(8, 32, 75, 0.932);
    padding: 1%;
    margin: 1%;
}
p{
    margin: 1%;
    padding: 1%;
    color: rgb(5, 0, 74);
}
a{
    text-decoration: none;
    color: unset;
    font-weight: bold;
    display: inline-block;
    padding: 1% 2%;
    cursor: pointer;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
a:hover{
    color: rgb(45, 107, 116);
}
 
button{
    border: none;
    border-radius: 11%;
    -webkit-border-radius: 11%;
    -moz-border-radius: 11%;
    -ms-border-radius: 11%;
    -o-border-radius: 11%;
    cursor: pointer;
    padding: 1%;
    margin: 1%;
    background-color: rgb(192, 250, 255);
}
input{
    border: none;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    color: rgb(68, 87, 156);
    padding: 1%;
    outline: none;
    font-weight: 600;
    margin: 1%;
}
input:focus{
    outline: none;
    border: none;
}
.header1{
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    padding: 1%;
}
#footer-btm-sec {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    padding: 1%;
    z-index: 1;
    background-color: rgba(143, 143, 143, 0.837);
}

::selection{
    color: rgba(230, 249, 255, 0.733);
}



