<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
        <section>
             <div class="header1" >
                <a href="/" >Home</a>
                <a href="weather"> Weather </a>
                <a href="products"> products </a>
            </div>
        </section>
</body>
</html>