<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title> home hbs </title>


</head>

<body>

    <div>
        {{>header}}
    </div>
    <section id="home">
        <h2> h2 {{title}} home hbs page </h2>
        <p> {{desc}} </p>
    </section>
    <div>
        {{>footer}}
    </div>

</body>

</html>