<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/css/style.css">

        <title> home hbs </title>
    </head>

    <body>

        <div>
            {{>header}}
        </div>
        <section id="home">
            <h2>   {{title}} </h2>
            <p> {{desc}} </p>
            <div>
                <form id="form1">
                    <input type="text" id="address1">
                    <button id="search1"> search </button>
                </form>
                <p id="location1"> </p>
                <p id="forecast1"> </p>
                <p id="error1"> </p>
            </div>
            
        </section>
        <div>
            {{>footer}}
        </div>


{{!-- <script src="../../public/js/script.js" > </script> --}}
    
<script src="/js/script.js"></script>


    </body>

</html>