<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> products hbs </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div>
        {{>header}}
    </div>
    <section id="products">
        <h2>  products hbs page </h2>
        <p>  popopopopopopopopoopopopopopopop </p>
        <p>    </p>
        <p>    </p>
        <a href="/"> <button>back to home page  </button> </a>

    </section>
    <div>
        <button>
            {{>footer}}
        </button>
    </div>

</body>

</html>