<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="weather" class="weather">
            <div>
                {{>header}}
            </div>
            <div>
                <form id="form1">
                    <input type="text" id="address">
                    <button id="search"> search </button>
                </form>
                <p id="location"> </p>
                <p id="latitude"> </p>
                <p id="longitude"> </p>
                <p id="weatherStatus"></p>
                <p id="error"> </p>
            </div>
   
    <div>
        {{>footer}}
    </div> 
    </section>
<script src="/js/script.js"></script>
</body>
</html>